@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Wildcard selector, necessary to override browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

h1, h2 , h3, h4 {
    font-family: Kanit, sans-serif;

}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;  /* to push footer to the bottom of the page when content does not fill the page */
}

p {
    font-size: 16px;
}

.page-subheading {
    padding: 24px 2px;
    text-align: center;
    width: 100%;
    
}

figcaption {
    display: none;
}

th, td {
    padding: 0px 3px 5px; /* left , right and bottom padding for table cells */
}

/* anchors */

/* Internal link */
a {
    text-decoration: none;
    color: rgb(64, 130, 109);
    font-weight: 500;
}

/* External link */
.external-a {
    color: rgb(111, 78, 55, 0.9);
}

/* Header Section - Main headline and Nav Bar*/

/* Main Logo*/

.top-logo {
    padding: 10px 5px; /* to allow space around the text*/
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: whitesmoke;
    background-color: rgb(64, 130, 109);
    min-width: 210px; /* to prevent distortion when screen size is reduced below 210px*/
}

/* Nav Bar container */
nav {
    width: 100%;
    min-width: 210px;
    height: 34px;
    background-color: #F3F3F3;
}

/* Nav Bar Links  */

nav a {
    width: 33%;
    text-align: center;
    float: left;
    font-size: 0.7rem;
    padding: 10px;
}

/* active page link */
.active-page {
    width: 34%; /* slightly larger and ensures 100% coverage*/
    background-color: rgb(64, 130, 109);
    color: whitesmoke;
    height: 100%;
}

/* hover over anchor */
nav a:hover{
    background-color: grey;
    color: whitesmoke;
    height: 100%;
}

/* Main Content */

/* Year Headers */
.year {
    background-image: linear-gradient(to right, rgb(64,130,109), #96c93d);
    height: 35px;
    line-height: 35px;
    letter-spacing: 2px;
    text-align: center;
    color: whitesmoke;
    vertical-align: middle;
}

/* About Section */

#about-section {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: stretch;
}

#race-features {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Race Features */
#race-features {
    width: 40%;
    font-size: 12px;
    background-image: radial-gradient(circle, whitesmoke, rgb(64, 130, 109, 0.6), rgb(64, 130, 109, 0.3));
    margin: 0 15px;
}

/* Race Features List */

    #race-features li {
        list-style: none;
        margin: 5px;
        font-weight: 500;
}

/* Image in the About Section*/

#about-image {
    width:50%;
}

#about-image img {
    width: 100%;
    object-fit: contain;
}

/* Next Race 2025 Section */

.next-event {
    display: flex;
    background: url("../images/crowd-img.png") no-repeat center center/cover;
    width: 100%;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.next-event div {
    background-color: rgb(255,255,255,0.85);
    width: 100%;
    padding: 40px 10%;
    text-align: center;
}

.next-event h3 {
    font-size: 190%;
    color: rgb(64,130,109);
}

/* Race Results*/

.race-details {
    padding: 6px 4px 6px;    /* spacing between race details section and year above, and places below */
    background-color: whitesmoke;
    margin: 0 0 25px;
}

.race-info {
    padding: 6px 4px 15px;
}

/* First 3 Horses*/
#places {
    width: 100%;
    padding: 0px 5px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    height: 130px;
    justify-content: space-evenly;
}

/* Names of horses that are placed */
#places h4 {
    font-size: 110%;
}

#places p {
    font-size: 13px;
}

.winner {
    order: 2;
    align-self: flex-start;
    text-align: center;
}
.winner i {
    color: gold;
    font-size: 24px;
}

.second-place {
    order: 1;
    align-self: flex-end; /* push to bottom of the div*/
    text-align: right;
}

.second-place i {
    color: silver;      /* Silver colour to indicate 3rd place */
}

.third-place {
    order: 3;
    align-self: flex-end; /* push to bottom of the div*/
    text-align: left;
}

.third-place i {
    color: saddlebrown;  /* Bronze colour to indicate 3rd place */
}

.rest-of-result {
    margin: 0 auto;
}

/* Results Table */

/* Hide Dist column on smallest screens */
.rest-of-result tr > *:nth-child(3) {
    display: none;
}

/* Video Page*/

/* Video content */

.video-content {                /* covers the text and the video combined */
    display: flex;
    flex-direction: column;
    padding: 10px 10px 25px 10px;
}

.video-content > p {            /* padding between description text and video */
    padding-bottom: 10px;
}

/* Win Tickets Page*/

/* Class applied to stand alone blocks of text*/

.side-padding {
    padding: 0 5px;
}

.block-of-text p {
    font-size: 16px;
}

.small-text-note {
    font-size: small;
    padding-bottom: 4px;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.input-text {                   /* For text input boxes on form */
    height: 1.3rem;
    border-radius: 3px;
    border: 1pt solid rgb(111, 78, 55);
    background-color: whitesmoke;
    margin-bottom: 10px;
    padding: 1px 4px;
}

.select-text {                  /* For select (dropdown) input boxes on form */
    height: 1.3rem;
    border-radius: 3px;
    border: 1pt solid rgb(111, 78, 55);
    background-color: whitesmoke;
    margin-bottom: 10px;
    padding: 1px 4px;
}

#enter-competition {
    background-color: rgb(64, 130, 109, 0.6);
    
    /* To right-justify form items  */
    padding: 10px 10% 10px 0;
    text-align: right;
}

/* Submit Button*/
#submit-entry-button {
    padding: 8px 20px;
    background-color: rgb(111, 78, 55, 0.9);
    color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 25px;
}

/* Footer */
.footer-contact {
    background: url("../images/footer-left-lrg-o.png") no-repeat left center/cover;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 210px;
}

.footer-contact div {
    width: 30%;
    background-color: rgb(38, 38, 38, 0.2);
    margin-right: 12px;
    text-align: center;
    min-width:140px;
    order: 99;
    padding: 2px;
}

.footer-contact a {
    padding: 3px;
    color: black;
    font-size: 11px;
    font-weight: 800;
}

.footer-contact i {
    font-size: 16px;
}

/* Media Query: mobile phones and larger - 476px and upwards*/
@media screen and (min-width: 476px) {

    #race-features li {
        margin-bottom: 7px;
    }
}


/* Media Query: landscape phones and larger 576px and upwards*/
@media screen and (min-width: 576px) {

    /* Nav bar links*/
    nav a {
        font-size: 1rem;
    }

    #race-features li {
        margin-bottom: 10px;
    }

    .race-details {
        text-align: center;
    }

    /* Displaying table column Dist that is hidden on smaller screen*/
    /* Code taken and adjusted from https://stackoverflow.com/questions/5440657/how-to-hide-columns-in-html-table */
    .rest-of-result tr > *:nth-child(3) {
        display: table-cell;
    }

    /* Adding more left, right padding in table  */
    th, td {
        padding: 0px 7px 5px;
    }

    /* Video section */

    .video-content { /* covers the text and the video combined */

        flex-direction: row;
        justify-content: center;
    }

    .video-content > p { /* padding between description text and video */
        padding-bottom: 20px;
        padding-right: 20px;
        width: 190px;
        font-size: 15px;
    }

    .video-content > iframe {
        padding-left: 20px;
        width: 420px;               /* making video iframe bigger when space allows */
        height: 225px;
    }
}

/* Media Query: tablets and larger 769px and upwards*/
@media screen and (min-width: 768px) {

.footer-contact {
    height: 140px;
}

#race-features li {
     margin-bottom: 20px;
     font-size: 20px;
}

#about-image {
    width: 60%;
}

/* Align form centrally */

.wide-screen-margin {
        margin: 0 15%;
}

#enter-competition {
    margin: 0 15%;
    padding: 10px 10% 10px 15%;
}
}

/* Media Query: laptops and larger 990px and upwards*/
@media screen and (min-width: 990px) {

    .wide-screen-margin {
        margin: 0 22%;
    }

    #enter-competition {
        margin: 0 21%;
    }

    #race-features li {
        margin-bottom: 30px;
        font-size: 24px;
    }

    /* Prevent year headings filling the whole screen */
    #videos .year {
        margin: 0 15%;
        font-size: 34px;
        height: 42px;
        line-height: 42px;
    }
}

/* Media Query: desktops and larger 1275px and upwards*/
@media screen and (min-width: 1275px) {
    .wide-screen-margin {
        margin: 0 30vw;
        }

    #enter-competition {
        margin: 0 25vw;
        padding: 10px 16% 10px 10%;
    }
}