
/* Wildcard selector, necessary to override browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* General Styles */



/* Header */

/* Main Logo*/

.top-logo {
    padding: 10px;
    text-align: center;
    text-transform:uppercase;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color:forestgreen;
    background-color: #D3D3D3;
}

/* Nav Bar container */
#nav-bar {
    background-color: #D3D3D3;
    width: 100%;
    
}

/* Nav Bar Links  */

nav a {
    margin: 0;
    background-color: #D3D3D3;
    padding: 5px;
    width: 32%;
    text-align: center;
    float: left;
    border: 1px solid white;
}

/* active page link */
.active-page {
    width: 36%;  /* slightly larger and ensures 100% coverage*/
    background-color: darkgreen;
    color: whitesmoke;
}

/* Footer */
footer {
    background-color: yellow;
}
    






